  <i *ngIf="route !== '/'" class="bi bi-list butt" (click)="toggleSidebar()"></i>
  
<div class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a  class="d-flex align-items-center  mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <div class="d-flex ">
        <span class="fs-4"></span>
      <i class="bi bi-x-lg butt2 text-end" (click)="toggleSidebar()"></i>
      </div>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto space">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link active" aria-current="page" (click)="toggleSidebar()">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li>
        <a routerLink="/home/user" class="nav-link text-white" (click)="toggleSidebar()">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Profile
        </a>
      </li>
      <li>
        <a routerLink="/home/client" class="nav-link text-white" (click)="toggleSidebar()">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Clients
        </a>
      </li>
      <li>
        <a routerLink="/home/projects" class="nav-link text-white" (click)="toggleSidebar()">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Projects
        </a>
      </li>
      <li>
        <a *ngIf="isAdmin" routerLink="/backOffice" class="nav-link text-white" (click)="toggleSidebar()">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Back Office
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a  class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{user?.firstName}}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" routerLink="/home">Statistics</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="logout()" (click)="toggleSidebar()">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>