<div class="back-header">
    <div class="container">
        <div class="utils">
            <div>
                <a routerLink="" class="btn btn-outline-warning">Projects</a>
            </div>
            <div class="d-flex gap-2" >
                <a routerLink="" class="btn btn-outline-warning">Download</a>
                <a routerLink="" class="btn btn-outline-warning">Download</a>
                <a routerLink="" class="btn btn-outline-warning">Download</a>
                <a routerLink="" class="btn btn-outline-warning">Download</a>
            </div>
        </div>
    </div>
</div>