<h1 class="my-5">What do you have to do? </h1>
<ul>
    <a routerLink="/backOffice/user"><li style="--accent-color:#60c5a6">
        <div class="icon"><i class="bi bi-person-circle"></i></div>
        <div class="title">USERS</div>
        <div class="descr">Add, modify, update or delete users.</div>
    </li></a>
    <a routerLink="/backOffice/projects"><li style="--accent-color:#f20071">
        <div class="icon"><i class="bi bi-journal-code"></i></div>
        <div class="title">PROJECTS</div>
        <div class="descr">Add, modify, update or delete projects.</div>
    </li></a>
    <a routerLink="/backOffice/clients">
        <li style="--accent-color:#FCBA35">
            <div class="icon"><i class="bi bi-person-bounding-box"></i></div>
            <div class="title">CLIENTS</div>
            <div class="descr">Add, modify, update or delete clients.</div>
        </li>
    </a>
    <a href="/backOffice/tasks"><li style="--accent-color:#DAE438">
        <div class="icon"><i class="bi bi-list-task"></i></div>
        <div class="title">TASK</div>
        <div class="descr">Add, modify, update or delete tasks.</div>
    </li></a>
    <a routerLink="/backOffice/log">
        <li style="--accent-color:#994D7F">
            <div class="icon"><i class="bi bi-door-open"></i></div>
            <div class="title">LOG</div>
            <div class="descr">Add, modify, update or delete AuditLog.</div>
        </li>
    </a>
</ul>
